* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*---head---*/
#header {
    height: 100vh;
    background-image: url(images/background.png);
    background-position: center;
    background-size: cover;
}

.container {
    margin-right: 100px;
    margin-left: 100px;
}

.logo {
    margin-top: 30px;
    width: 100px;
}

.header-text {
    max-width: 350px;
    margin-top: 100px;
}

h1 {
    font-size: 34px;
}

.square {
    height: 12px;
    width: 12px;
    display: inline-block;
    background: #f67c92;
    margin: 15px 0px 15px 0px;
}

.common-btn {
    padding: 18px 40px;
    background: transparent;
    outline: none;
    border: 2px solid #f67c92;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;

}

p {
    line-height: 18px;
    font-size: 15px;
}

.header-text button {
    margin-top: 20px;
    margin-bottom: 30px;
}

#sideNav {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #f67c92;
    z-index: 2;
    transition: .5s;
}

nav ul li {
    list-style: none;
    margin: 50px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

#menubtn {
    width: 50px;
    position: fixed;
    right: 65px;
    top: 35px;
    z-index: 2;
    cursor: pointer;
}

/*--- about us ---*/
#about,
#offer {
    padding: 100px 0;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.about-left-col {
    flex-basis: 50%;
}

.about-left-col img {
    width: 100%;
}

.about-right-col {
    flex-basis: 50%;
    text-align: right;
}

.about-us-text {
    width: 500px;
    margin-right: 100px;
    display: inline-block;
}

/*---features---*/
#features {
    padding-top: 50px;
    padding-bottom: 50px;
}

.feature-row {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature-col {
    flex-basis: 25%;
    text-align: center;
}

.feature-col img {
    width: 100px;

}

.feature-col h4 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500px;
}

.feature-btn {
    margin: 50px auto 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

/*---courses---*/
#course {
    margin: 100px 0;
    padding: 100px 0;
}

.course-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.course-right-col {
    flex-basis: 50%;
}

.course-right-col img {
    width: 100%;
}

.course-left-col {
    flex-basis: 50%;
}

.course-text {
    margin-left: 100px;
    max-width: 300px;
}

.course-text button {
    margin: 30px 0;
}

/*---offer---*/
#offer button {
    margin: 20px 0;
}

.offer-left-col {
    flex-basis: 50%;
}

.offer-left-col img {
    width: 100%;
}

.offer-right-col {
    flex-basis: 50%;
    text-align: right;
}

.offer-text {
    width: 500px;
    margin-right: 100px;
    display: inline-block;
}

/*---contact---*/
.contact {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 100px;
}

.contact-left-col,
.contact-right-col {
    flex-basis: 50%;
}

.contact-right-col img {
    width: 100%;
}

form {
    max-width: 350px;
    margin: 30px 0;

}

form input {
    width: 100%;
    padding: 12px 10px;
    margin-bottom: 5px;
    box-sizing: border-box;
    outline: none;
    box-shadow: none;
    border: 2px solid #f67c92;
}